<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.open_sports.login3" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main_activity2" >
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="61fc431e57863033bf65f29988e70e63a4a01328" />

        <activity
            android:name=".MainActivity3"
            android:label="@string/title_activity_main_activity3" >
        </activity>
        <activity
            android:name=".achievements"
            android:label="@string/title_activity_achievements" >
        </activity>
        <activity
            android:name=".Add_loc"
            android:label="@string/title_activity_add_loc" >
        </activity>
        <activity
            android:name=".Add_SportEvent"
            android:label="@string/title_activity_add__sport_event" >
        </activity>
        <activity
            android:name=".friend"
            android:label="@string/title_activity_friend" >
        </activity>
        <activity
            android:name=".Friend_profile"
            android:label="@string/title_activity_friend_profile" >
        </activity>
        <activity
            android:name=".googlemap"
            android:label="@string/title_activity_googlemap" >
        </activity>
        <activity
            android:name=".mainactiv"
            android:label="@string/title_activity_mainactiv" >
        </activity>
        <activity
            android:name=".map"
            android:label="@string/title_activity_map" >
        </activity>
    </application>

</manifest>
